<!-- Place this code where you'd like the game to appear -->
<div class="container">
<div class="miniclip-game-embed" data-game-name="8-ball-pool-multiplayer" data-theme="0" data-width="750" data-height="520" data-language="en"><a href="http://www.miniclip.com/games/8-ball-pool-multiplayer/">Play 8 Ball Pool</a>

</div>

</div>
<div class="row">
  <div class="col-lg-4">
</div>
<div class="col-lg-4">

<div data-WRID="WRID-146173707740640739" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="250" width="300"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>
</div>
<div class="col-lg-4">

<div data-WRID="WRID-146173717987381724" data-widgetType="searchWidget" data-class="affiliateAdsByFlipkart" height="250" width="300" ></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>
</div>
