<div class="container">
<h1>New Subscriber</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path, class: 'btn btn-danger' %>

<div data-WRID="WRID-146173707740640739" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="250" width="300"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>

<div data-WRID="WRID-146173717987381724" data-widgetType="searchWidget" data-class="affiliateAdsByFlipkart" height="250" width="300" ></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>

</div>
