<div class="row">
  <div class="col-lg-4">
    <div data-WRID="WRID-146175520203326582" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="60" width="468"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>
</div>
<div class="col-lg-4">

  <div data-WRID="WRID-146175514498369146" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="60" width="468"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>
</div>

<div class="col-lg-4">
<div data-WRID="WRID-146175520203326582" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="60" width="468"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js?affid=shubhamru"></script>
</div>
</div><br>
